
/* Regular slides */
slide {
    background-color: white;
}

/* Headers */
h1, h2, h3, h4, h5, h6, h7, h8 {
    color: black;
}

slides > slide {
    color: black;
}

/* Main # slides */
slides > slide.dark {
    background: white !important;
}

/* .segue refers to Section slides */
.segue h2 {
color: black;
}

.segue h3 {
color: black;
}

.bigger_text {
   font-size: 32px;
   line-height: 1.5;
}

ol li, ul li {
    margin-bottom: 1em;
}

ul li ul li {
    margin-bottom: 0.5em;
}

ul li ul {
    margin-left: 2em;
    margin-bottom: 0;
}